

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*
tr:nth-child(even) {
    background-color: #dddddd;
}
*/

</style>


<div class="container">
   
    <div class="row row-content">
        <div class="col-xs-12">
            <h1>CSV test program <a class="btn btn-danger pull-right" ui-sref="home">Go to home</a></h1>    
        </div>

        <div class="col-xs-12 col-sm-12"> 
            <form name="my_form "class="form-horizontal" role="form" ng-submit="my_form.$valid && generate_csv_data(form_record.number)">
                <!-- Random records -->
                 <div class="form-group">
                    <label for="record_number" class="col-sm-4 control-label">Random records</label>                        
                        <!-- select the number of records -->
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="record_number" name="record_number" placeholder="Enter Number" ng-model="form_record.number" pattern="[0-9]{1,50}" required>
                            <span style="color:red" ng-show="my_form.record_number.$dirty && my_form.record_number.$invalid && form_record.number!=''">
                                <span ng-show="my_form.record_number.$error.required">Number required</span>
                                <span ng-show="my_form.record_number.$error.pattern">Not a valid number</span>
                            </span>
                            <span style="color:green" ng-show="!my_form.record_number.$invalid && generate_success">
                                <span>Record generate successfully, click on download button next</span>
                            </span>
                            <span style="color:black" ng-if="generate_records">
                                <span>Please be patient, this will take a while.  Generating record ({{record_count}} of {{form_record.number}})</span>
                            </span>
                        </div>
                        <!-- generate random records -->
                        <div class="col-sm-4">       
                        <button  ng-disabled="!my_form.$valid" type="submit" class="btn btn-primary">Generate</button>
                        </div>
                 </div>
                
                 <!-- download csv file -->
                 <div class="form-group">                       
                    <label for="record_number" class="col-sm-4 control-label">download csv file</label>
                    <div class="col-sm-8">       
                        <button type="button" class="btn btn-primary" ng-csv="array_to_write_to_csv" csv-header="csv_header" filename="output.csv" ng-click="generate_success=false">Download csv file</button>
                    </div>
                 </div>      

            </form>

            <form name="my_form2 "class="form-horizontal" role="form" >
                <!-- Image upload inline-->
                 <label for="equipmentimage" class="col-sm-4 control-label">Upload csv file</label>                        
                 <div class="col-sm-8">
                            <input type="file" file-model="myFile"/>
                            <button ng-click="uploadFile()">upload me</button>
                        <span style="color:green" ng-show="loading_file">
                            <span>Please wait.  Loading file ....</span>
                        </span>
                        <span style="color:black" ng-show="file2.length > 2">
                        <!-- number of records is the length of the file minus 2
                        the minus 2 accounts for thee header and the EOF -->
                            <span>{{file2.length-2}} records uploaded</span>
                        </span>
                 </div>
            </form>
            
        </div>


    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <button ng-click="load_next_data()"class="pull-right">next data</button>
            <button ng-click="load_prev_data()" class="pull-right">prev data</button>
            
            <div id="divID">
                <table>
                    <tr ng-repeat="x in file2 | limitTo:limit_number_of_elements:limit_begin"><!-- myData.data"> -->
                    <td ng-if="x.length==6"ng-repeat="y in x">{{ y }}</td>
                    
                    </tr>
                </table>
            </div>
        </div>
    </div>



 </div>
 
